*{
margin: 0;
padding: 0;
text-decoration: none;
list-style-type: none ;
}

html {
font-size: 62.5%;
}

/*BODY*/
body {
  background-image: url("../img/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  height: 100%;
}

/* Fonds */

.dancing-script {
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-size: 4rem;
    text-align: center;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .baskervville-sc-regular {
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
  }


  /* Fin Fonds */

/* Header */

  img{
    max-width: 100%;
    display: block;
  }

 
  



  .headerN{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem 6rem;
  }
  
  .navHeader{
    display: flex;
    justify-content: space-between;
    width: 50rem;
    padding: 0;
    margin-right: 3rem;
  }
  
  .navHeader li{
    width: 7rem;
    margin: 1rem;
    font-size: 3rem;
    color: black;
    font-family: "Dancing Script", serif;
    text-align: center;
  }

  a{
    display: block;
    text-decoration: none;
    color: black;   
  }



  .inicioHeder{
    position: relative;
    color: #000;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
    cursor: pointer;
  }

  .inicioHeder:after{
    content: "";
    position: absolute;
    background-color: #f38eac;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition:width 0.3s;
  }
  
  .inicioHeder:hover{
    color: #2f2c2c;
    transform: scale(1.4);
    transition: all 0.5s;
  }
  .inicioHeder:hover:after{
    width: 100%;
  }

  .logo{
    width: 30rem;
  }
  
  .buscador{
    display: flex;
    justify-content: end;
    width: 30%;
    height: 5rem;
    border-bottom:solid 2px black;
    margin: 2rem;
  }

  .finder{
    width: 100%;
    border: none;
    background: none;
    font-size: 2.7rem;
    color: black;
    outline: none;
    padding: 0 1rem ;

  }
  

  .lupa{
    width: 4.5rem;
    margin: 0 .5rem;
  }
  



  /* --------------Fin Header----------------- */

  



  /* ------------Cuerpo--------------- */


  /* Banner */

  /* Fin Banner */


  /* Cards */

  #dressCar{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3rem 1rem;
    justify-items: center;
    margin: 2rem 0;
  }

  .cardImg{
    margin: -3.5rem auto 0;    
  }

  .compraCarrito{
    display: none;
  }

  .compraYa{
    display: none;
    color: #fff;
    width: 13rem;
    margin: auto;
    background: #a8aba8;
    font-size: 1.5rem;
    padding: .5rem;
    border: 2px solid #fff;
    border-radius: 1rem;
  }
  .compraYa:hover{
    background-color: #7df47f;
    transition: ease-in-out .8s;
    box-shadow: 5px 5px 20px 3px #f19a7a;
    color: #000;
    width: 13rem;
    margin: auto;
    font-size: 1.5rem;
    padding: .5rem;
    border: 2px solid #000;
    border-radius: 1rem;
  }


  .navFooter{
    display: none;
  }
  @media (max-width: 1345px) {
    .navHeader{
      margin-right: 2rem;
    }
    .compraCarrito{
      display: none;
    }
  }
  
  @media (max-width: 1270px) {
    .navHeader{
      width: 40rem;
    }
    .compraCarrito{
      display: none;
    }
  }
  @media (max-width: 1200px) {
      .headerN{
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        grid-template-rows: 6rem 6rem;
        grid-template-areas: 
        "logo nav"
        "logo buscador";
      }
      .compraCarrito{
        display: none;
      }
      .logo{
        grid-area: logo;
      }
      nav{
        grid-area: nav;
        margin: auto;
      }
    
      .buscador{
        grid-area: buscador;
        width: 60%;
        margin: auto;
      }
    }



  @media (max-width: 1100px) {
    #dressCar{
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
  }
  .headerN{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 6rem 6rem;
    grid-template-areas: 
    "logo nav"
    "logo buscador";
  }
  .compraCarrito{
    display: none;
  }
  .logo{
    grid-area: logo;
  }
  nav{
    grid-area: nav;
    margin: auto;
  }

  .buscador{
    grid-area: buscador;
    width: 60%;
    margin: auto;
  }
  
  

}



@media (max-width: 800px) {
  .navHeader{
    margin: 0;
  }
  .compraCarrito{
    display: none;
  }
}

@media (max-width: 880px) {
  #dressCar{
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
  .logo{
    width: 25rem;
    margin: 2rem 2rem;
  }
  .compraCarrito{
    display: none;
  }
}
@media (max-width: 710px){
  #dressCar{
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  .headerN {
    display: grid;
    grid-template-columns: 252.6px 0.8fr;
    grid-template-rows: 100px;
    margin: 3rem 0 6rem;
    grid-auto-flow: row;
    grid-template-areas:
      "logo buscador";
  }
  
  .logo { 
    grid-area: logo; 
  }
  
  .buscador { 
    grid-area: buscador; 
    width: 83%;
    margin: auto;
  }

  .navHeader{
    display: none;
  }
  
  .navFooter{
    z-index: 1;
    cursor: pointer;
    display: flex;
    position: fixed;
    bottom: .8rem;
    left: .7rem;
    right: .7rem;
    width: 97%;
    margin: 1rem;
    justify-content: space-between;
    background-color: #d8d8d8da;
    border-radius: 3rem;
    padding: .8rem;
  }

  .card:hover .compraYa{
    display: none;

  }



  .compraCarrito{
    width: 3rem;
    display: block;
  }
  .iconNav{
    width: 4rem;
    background-color: white;
    border-radius: 3rem;
    padding: .3rem;
  }


  .iconNav:hover{
    transform: scale(1.3);
    background-color: rgb(185, 192, 192);
    border: solid 1px #fff;
    transition: all 0.3s ease-in-out;
  }


  .logoFooter{
    display: none;
  }

}

    
  .card{
    border-radius: 1.5rem;
    background-color: slategrey;
    width: 15rem;
    height: 23.5rem;
    box-shadow: 5px 5px 20px 3px #ac8d8d;
    padding: 1rem;
    gap: 1rem;
  }

  .card:hover .compraYa{
    display: block;

  }

  .produ{
    font-family: "Roboto", sans-serif;
    font-size: 2.2rem;
    margin: 0 1rem;
  }


  /* .oferta{
    font-size: 1rem;
  } */
  .precio{
    font-size: 2rem;
    margin: 0 1rem;
  }

  .compra{
    display: flex;
    justify-content: end;

  }

  

  /* Fin Cards */


  /* -----------------Fin Cuerpo-------------------- */

  /* Footer */

  .logoFooter{
    margin: 2rem;
    width: 30rem;
  }

  /* Fin Footer */